<h1 class="header-title">Search for caregivers</h1>

<div class="header-tools-container">
  <mat-form-field class="header-select" appearance="outline">
    <mat-label>Location</mat-label>
    <mat-select
      hidden
      [(ngModel)]="selectedLocation"
    >
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let location of locationOptions" [value]="location">
        {{ location }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="header-select" appearance="outline">
    <mat-label>Sort</mat-label>
    <mat-select
      hidden
      [(ngModel)]="orderByRating"
    >
      <mat-option value="">Name</mat-option>
      <mat-option value="caregiverExperience">More experience</mat-option>
      <mat-option value="completedServices">Most popular</mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-flat-button
    class="primary-btn refresh-btn"
    (click)="onReloadList()"
  >
    <mat-icon>search</mat-icon>
    Search
  </button>
</div>

<div class="search-caregivers-list">
  @for (serviceSearch of searchServiceList; track $index) {
    <app-caregiver-card [serviceSearch]="serviceSearch"></app-caregiver-card>
  }
</div>
