<div class="view-wrapper" *ngIf="caregiver as c; else loadingTpl">
  <button mat-icon-button routerLink="/search">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card appearance="outlined">
    <img mat-card-image [src]="c.profileImage" alt="{{c.completeName}}" />
    <mat-card-title>{{ c.completeName }}</mat-card-title>
    <mat-card-content>
      <p><mat-icon>person</mat-icon> {{ c.age }} años</p>
      <p><mat-icon>place</mat-icon> {{ c.address }}</p>
      <p><mat-icon>schedule</mat-icon> {{ c.caregiverExperience }} años de experiencia</p>
      <p><mat-icon>work</mat-icon> {{ c.completedServices }} servicios completados</p>
      <p><mat-icon>payments</mat-icon> S/. {{ c.farePerHour }} por hora</p>
      <p><mat-icon>map</mat-icon> Zonas: {{ c.districtsScope }}</p>
      <p>{{ c.biography }}</p>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #loadingTpl>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>
