<mat-card>
  <mat-card-title>Add New Card</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" class="payment-form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Cardholder Name</mat-label>
        <input
          matInput
          [(ngModel)]="newCard.holder"
          name="cardHolderName"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Card Number</mat-label>
        <input
          matInput
          [(ngModel)]="newCard.number"
          name="cardNumber"
          required
        />
      </mat-form-field>

      <div class="form-row">
        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Expiration Date</mat-label>
          <input
            matInput
            [(ngModel)]="newCard.year"
            name="expirationDate"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill" class="half-width">
          <mat-label>CVV</mat-label>
          <input
            matInput
            [(ngModel)]="newCard.code"
            type="password"
            name="cvv"
            required
          />
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="submit-button"
      >
        Submit Payment
      </button>
    </form>
  </mat-card-content>
</mat-card>
